{% extends 'base.html' %}
{% block nav %}
<ul>
    {% for i in categorie %}
    <li><a href="{% url 'categorie' i.id %}">{{i.name}}</a></li>
    {% endfor %}
</ul>
{% endblock %}
{% block contenu %}
<div class="products">
    {% for product in products %}
    <a href="{% url 'detail' product.name %}">
    <div class="product-card">
        <img src="{{ product.thumbnail.url }}" alt="Montre Connectée">
        <div>{{product.name}}</div>
        <div class="badge best-seller">Best Seller</div>
        <div class="price" style="font-size: 25px;">{{product.price}} FCFA</div>
        
        {% if user.is_authenticated %}
        <button class="add-button"><a href="{% url 'add_to_card' product.name %}">Ajouter au panier</a></button>
        {% else %}
        <button class="add-button"><a href="{% url 'login_user' %}">Ajouter au panier</a></button>
        {% endif %}
    </div>
    </a>
       
    {% endfor %}

</div>
<style>
     @media (max-width:900px){
            .products{
                display: inline;
                gap: 5px;
                margin: 5px;
                padding: 0;
                width: 170px;    
                grid-template-columns: 1fr 1fr;
            }

           
          
            }

</style>
   

        
{% endblock %}


{% block categories %}
    {% for category in categorie %}
        <li><a href="{% url 'categorie' category.id %}">{{ category.name }}</a></li>
    {% endfor %}
{% endblock %}


